* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sticky {
  padding: 15px 20px;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.897);
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 999;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./img/hero.jpg");
  padding: 10px 100px;
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
}

.navbar p {
  color: white;
  padding: 0 20px;
}
.navbar .item {
  display: inline-block;
}
.btn-header {
  padding: 12px 30px;
  background-color: rgb(18, 134, 43);
}
.intro {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.intro .one {
  font-style: normal;
  font-weight: bold;
  font-size: 350%;
  text-align: center;
  color: white;
  padding: 25px 0;
}

.intro .two {
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  text-align: center;
  color: white;
  padding-bottom: 85px;
}

.one .vetted {
  color: rgb(209, 218, 89);
}
.intro .btn {
  padding: 25px 70px;
  border: 1px;
  border-radius: 5px;
  background: linear-gradient(to right, rgba(0, 220, 70), rgb(180, 206, 92));
}

.container-partner {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f8f8ff;
}

.parts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.part {
  padding: 10px 35px;
}

/* why-decagon */
.why-decagon {
  padding: 60px 100px;
}

.why p {
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-bottom: 30px;
}

.why-sect {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.image-why img {
  height: 500px;
}

.clone {
  padding: 30px 40px;
}

.clone h4 {
  font-size: 25px;
  padding-bottom: 20px;
}

.clone p {
  font-size: 20px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
}

/* section contries */

.section-countries h4 {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  padding-bottom: 30px;
  color: #2c3134;
}

/* testimonial */

.testimonial {
  background-color: #f8f8ff;
  display: flex;
  align-items: center;
  padding: 60px 100px;
}

.about {
  font-size: 25px;
  text-align: center;
  padding: 20px 40px;
  justify-content: space-around;
}

.testimonial-name {
  font-weight: bold;
  padding-top: 30px;
  padding: 0 50px;
}

.author-bio {
  font-weight: normal;
  padding: 0 50px;
  color: rgba(20, 50, 50, 0.6);
}

.text p {
  font-size: 40px;
  text-align: center;
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.9);
}

.leads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(246, 247, 243, 0.212);
}

.leader {
  width: 25%;
  background-color: white;
  margin: 20px;
  padding: 50px;
  position: relative;
}
.image img {
  border-radius: 60px;
}

.leader ul li {
  padding: 15px 0;
}

.leadername {
  padding: 10px 0;
}
.leader-position {
  color: rgba(0, 0, 0, 0.3);
}

.leader-qualification {
  font-size: 18px;
}

.leader-social .one {
  padding-top: 70px;
}

.leader-social {
  /* padding-bottom: 2px; */
  position: absolute;
  bottom: 5px;
}
.leader-social span{
  padding: 10px 20px;
}

.leader-social,
img,
span {
  color: black;
  /* position: relative; */
  /* bottom: 0; */
}

img,
a {
  text-decoration: none;
}

/* partnerships */
.para p {
  padding-top: 50px;
  color: #35a555;
  text-align: center;
}

.image-partner {
  display: flex;
  padding: 50px 20px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-partner img {
  padding: 0 35px;
}

.our-skills {
  background: #35a555;
  padding: 60px 100px;
  margin: 20px 100px;
}

.our-skills h4 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
}

.our-skills h6 {
  font-size: 30px;
  text-align: center;
  color: rgb(255, 255, 255, 0.6);
  font-weight: normal;
  /* padding-bottom: 50px; */
}

.skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.first-skill {
  list-style: none;
  text-align: center;
  /* padding: 12px 0; */
  /* font-size: 17px; */
  color: white;
}

.first-skill p {
  padding: 10px 0;
}

/* news section */
.head-news {
  font-size: 40px;
  padding-left: 140px;
  color: #35a555;
}

.news-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 80px;
}

.first-news {
  background: linear-gradient(
      to bottom,
      rgba(191, 207, 197, 0.3),
      rgba(23, 83, 4, 0.8)
    ),
    url("./img/decagonhq-20210109-0001.jpg");
  background-position: center;
  background-size: cover;
}

.first-news:hover {
  background: linear-gradient(
      to top,
      rgba(53, 151, 23, 0.8),
      rgba(191, 207, 197, 0.3)
    ),
    url("./img/decagonhq-20210109-0001.jpg");
  background-position: center;
  background-size: cover;
}

.second-news {
  background: linear-gradient(
      to bottom,
      rgba(191, 207, 197, 0.3),
      rgba(23, 83, 4, 0.8)
    ),
    url("./img/obaseki-1.jpg");
  /* padding: 300px 100px; */
  background-position: center;
  background-size: cover;
}
.second-news:hover {
  background: linear-gradient(
      to top,
      rgba(53, 151, 23, 0.8),
      rgba(191, 207, 197, 0.3)
    ),
    url("./img/obaseki-1.jpg");
  background-position: center;
  background-size: cover;
}

.third-news {
  background: linear-gradient(
      to bottom,
      rgba(191, 207, 197, 0.3),
      rgba(23, 83, 4, 0.8)
    ),
    url("./img/DECAGON-3.jpg");
  background-position: center;
}

.third-news:hover {
  background: linear-gradient(
      to top,
      rgba(53, 151, 23, 0.8),
      rgba(191, 207, 197, 0.3)
    ),
    url("./img/DECAGON-3.jpg");
  background-position: center;
}

.first-news,
.second-news,
.third-news {
  margin: 5px;
  width: 30%;
  height: 600px;
  position: relative;
}
.love {
  font-size: 30px;
  margin-bottom: 30px;
  padding: 0 20px;
  color: white;
  font-weight: bold;
}

.news-item {
  padding-top: 440px;
}

.sp {
  position: absolute;
  bottom: 20px;
  padding-left: 20px;
  color: white;
}

/* footer-section */

.container-footer {
  display: flex;
  flex-direction: column;
  background-color: #2c3134;
  /* padding: 40px 100px; */
}

.build-team {
  text-align: center;
  color: white;
  font-size: 50px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.btn {
  padding: 20px 50px;
  margin: 40px 0;
  border: none;
  background: linear-gradient(to right, rgba(0, 220, 70), rgb(180, 206, 92));
}
.line {
  margin-top: 5px;
  margin: 0 100px;
}

.footer-section {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-footer ul li {
  list-style: none;
}

.foot ul li {
  display: inline-block;
  padding: 10px 0;
  padding-right: 5px;
}
.foot p {
  margin-top: 60px;
  color: white;
  font-size: 15px;
}

.infoloc {
  display: flex;
  flex-wrap: no-wrap;
}

.information,
.location,
.contact {
  padding: 0 22px;
}
.infoloc ul li {
  padding: 15px 0;
}

.information .footer-links li a {
  color: white;
  text-decoration: none;
}

.location .footer-links li {
  color: white;
}

.contact .footer-links li a {
  color: white;
}

.footer-section h4 {
  font-weight: bold;
  color: white;
}
.copyright-text span{
  color: green;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  header {
    padding: 10px 10px;
    /* width: 100%; */
  }
  .sticky a {
    padding: 10px 30px;
  }
  .navbar {
    display: none;
  }
  .intro {
    padding-bottom: 20px;
  }
  .intro .one {
    font-size: 450%;
    padding: 10px 25px;
  }
  .intro .two {
    font-size: 13px;
    line-height: 2.2rem;
    padding: 0;
  }
  .intro .btn {
    padding: 25px 60px;
  }
  .intro .one {
    font-size: 30px;
  }
  .intro .two {
    font-size: 25px;
  }
  .intro .btn {
    padding: 15px 35px;
  }
  .why-decagon {
    padding: 20px 10px;
  }
  .why p {
    font-size: 30px;
    padding: 20px 30px;
  }
  .why-sect {
    flex-wrap: wrap;
  }
  .image-why img {
    height: 320px;
  }
  .clone {
    padding: 20px 30px;
  }
  .clone h4 {
    font-size: 20px;
  }

  .clone p {
    font-size: 18px;
  }
  .section-countries h4 {
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: #2c3134;
    background-color: #f5f9e7;
  }
  .testimonial {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 30px;
  }
  .third {
    height: 275px;
    padding-top: 40px;
  }
  .about {
    font-size: 15px;
    padding: 20px 20px;
  }

  .testimonial-name {
    padding: 10px 20px;
  }

  .author-bio {
    padding: 0 20px;
  }

  .text p {
    font-size: 30px;
    padding-right: 90px;
    padding-top: 50px;
  }

  .leads {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .leader {
    width: 92%;
    height: 50%;
    /* border: 1px solid red; */
  }

  .leadername {
    padding: 20px 0;
    font-size: 16px;
  }

  .leader-position {
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
  }

  .our-skills {
    padding: 30px 50px;
  }

  .image-partner img {
    padding: 35px 25px;
  }
  .container {
    flex-direction: row;
  }
  .our-skills {
    width: 100%;
    margin: 20px 5px;
  }

  .our-skills h4 {
    font-size: 25px;
    text-align: left;
    padding-left: 0;
  }

  .our-skills h6 {
    font-size: 20px;
    text-align: left;
    padding-left: 0;
  }

  .head-news {
    font-size: 20px;
    padding-left: 22px;
    padding-top: 30px;
    color: #35a555;
  }
  .news-content {
    padding: 0 20px;
  }
  .first-news,
  .second-news,
  .third-news {
    margin: 30px 0;
    width: 100%;
    height: 700px;
  }
  .line {
    margin: 0 20px;
  }
  .footer-section {
    padding: 10px 20px;
  }
  .container-footer {
    padding: 0;
  }
  .build-team {
    font-size: 20px;
  }

  .infoloc {
    flex-wrap: no-wrap;
    width: 100%;
  }
  .foot {
    order: 3;
  }
  .foot .deca-logo {
    display: none;
  }

  .contact {
    width: 100%;
    padding: 30px 22px;
  }
}
